{% extends 'base.html.twig' %}

{% block title %}
  Change your password
{% endblock title %}

{% block content %}
  {% set app = globals.app %}
  <div class="container form">
    <h1>Reset your password</h1>
    <form action="{{ app.urlFor('verify_new_password') }}" method="post">
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" />
      </div>
      <div class="form-group">
        <label for="password_repeat">Repeat Password</label>
        <input class="form-control" type="password" id="password_repeat" name="password_repeat" />
      </div>
      <input type="hidden" id="id" name="id" value="{{ user_id }}" />
      <input class="form-control btn btn-default" type="submit" id="submit" name="submit" value="Reset Password" />
    </form>
    <a href="/" id="return_to_main" class="btn submit btn-default">
      Return to main menu</a>
  </div>
{% endblock content %}