{% extends 'base.html.twig' %}

{% block title %}
  Reset your password
{% endblock title %}

{% block content %}  
  {% set app = globals.app %}
  <div class="container form">
    <h1>Password reset</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
    <form action="{{ app.urlFor('password_reset_request') }}" method="post">
      <div class="form-group">
        <label for="email">E-mail address</label>
        <input class="form-control" type="email" id="email" name="email" />        
      </div>
      <input class="form-control btn submit btn-default" type="submit" id="submit" name="submit" value="Mail request" />
    </form>
    <a href="/" id="return_to_main" class="btn submit btn-default">Return to main menu</a>
  </div>
{% endblock content %}